.content-container {
    background: #ffffff;
    padding: 0 20px;
    min-height: 50vh;
}

@media (min-width: 760px) {
    .content-container {
        margin: 0 5px;
        padding: 25px
    }
}

@media (min-width: 1020px) {
    .content-container {
        margin: 0 60px;
        box-shadow: 0 0 10px #d9d9d9;
    }
}

@media (min-width: 1400px) {
    .content-container {
        border-radius: 25px;
        margin: 0 100px;
    }
}

@media (min-width: 1900px) {
    .content-container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
